.block {
  width: 20px;
  height: 20px;
  display: inline-block;
  box-sizing: border-box;
}

.clay {
  background-color: brown;
  border: 1px solid black;
}

.stone {
  background-color: grey;
  border: 1px solid black;
}

.metal {
  background-color: slategray;
  border: 1px solid black;
}

.glass {
  background-color: skyblue;
  border: 1px solid black;
}

.row {
  margin-bottom: -4px;
}

#pyramid {
  margin: 0 auto;
}